---
import { SEO } from "astro-seo";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import HeaderNavBar from "../../layouts/HeaderNavBar.astro";
import Footer from "../../layouts/Footer.astro";
import "../../styles/global.css";
import "../../styles/highlightjs-styles/nord.min.css";
import ogimage from "../../public/og-image.png";

export const prerender = true;
export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories", {
    content_type: "blogPost",
    version: import.meta.env.DEV ? "draft" : "published",
  });

  const stories = Object.values(data.stories);

  return stories.map((story) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      titleTemplate="%s - Ryan Furrer"
      titleDefault="Ryan Furrer"
      title={story.title}
      description={story.description}
      openGraph={{
        basic: {
          title: `${story.title}`,
          type: `string`,
          image: `${ogimage}`,
        },
      }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Ryan Furrer" />
    <meta name="description" content={story.content.description} />

    <meta property="og:title" content={story.name} />
    <meta property="og:description" content={story.content.description} />
    <meta property="og:image" content={story.content.featuredImage.filename} />
    <meta
      property="og:url"
      content={`https://rfportfolioastro.netlify.app/blog/${story.full_slug}`}
    />
    <meta property="og:site_name" content="Ryan Furrer" />
    <meta name="twitter:card" content={story.content.featuredImage.filename} />
    <meta name="twitter:image:alt" content={story.content.featuredImage.alt} />

    <link
      rel="stylesheet"
      href="/src/styles/highlightjs-styles/dracula.min.css"
    />

    <link rel="canonical" href={`https://ryanfurrer.com/blog`} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <script is:inline src="/highlight.min.js"></script>
  </head>
  <body>
    <HeaderNavBar />

    <main>
      <StoryblokComponent blok={story.content} />
    </main>
    <Footer />
    <script is:inline>
      hljs.highlightAll();
    </script>
  </body>
</html>
