---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";
const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "blogPost",
  sort_by: "content.publishedDate:desc:int",
  page: 1,
  per_page: 4,
});

const posts = data.stories.map(
  (story: {
    content: {
      title: any;
      description?: any;
      featuredImage: any;
      publishedDate: any;
    };
    published_at: string | number | Date;
    full_slug: any;
  }) => {
    return {
      title: story.content.title,
      date: new Date(story.content.publishedDate).toLocaleDateString("en-US", {
        dateStyle: "full",
      }),
      description: story.content.description,
      slug: story.full_slug,
      featuredImage: story.content.featuredImage,
    };
  },
);
---

<ul {...storyblokEditable(blok)} class="grid gap-[2em] md:grid-cols-2">
  {
    posts.map((post) => (
      <li class="space-y-[.5em] rounded-md bg-zinc-100 p-6 dark:bg-neutral-900">
        <a href={`/blog/${post.slug}`} class="mb-[1em] block overflow-hidden">
          <img
            class="aspect-video transition-transform duration-300 hover:scale-110"
            src={post.featuredImage.filename}
            alt={post.featuredImage.alt}
          />
        </a>
        <p class="text-sm">{post.date}</p>
        <a href={`/blog/${post.slug}`}>
          <h3 class="text-lg leading-tight hover:text-emerald-600 dark:hover:text-emerald-400">
            {post.title}
          </h3>
        </a>
        <p class="sm:text-sm md:text-base">{post.description}</p>
      </li>
    ))
  }
</ul>
