---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
const { blok } = Astro.props;
const content = renderRichText(blok.content);
import "../styles/global.css";

const date = new Date(blok.publishedDate).toLocaleDateString("en-US", {
  dateStyle: "full",
});
---

<section>
  <article {...storyblokEditable(blok)} id="blog-post">
    <h2 id="blog-title">{blok.title}</h2>
    <p id="blog-publish-date" class="text-sm">{date}</p>
    <p>{blok.description}</p>
    <img
      src={blok.featuredImage.filename}
      alt={blok.featuredImage.alt}
      class="rounded"
    />
    <Fragment set:html={content} />
  </article>
</section>
