---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";
const { blok } = Astro.props;
import "../styles/global.css";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "blogPost",
  sort_by: "first_published_at:desc",
  page: 1,
  per_page: 3,
});

const posts = data.stories.map(
  (story: {
    content: { title: any; description?: any; featuredImage: any };
    published_at: string | number | Date;
    full_slug: any;
  }) => {
    return {
      title: story.content.title,
      date: new Date(story.published_at).toLocaleDateString("en-US", {
        dateStyle: "full",
      }),
      description: story.content.description,
      slug: story.full_slug,
      featuredImage: story.content.featuredImage,
    };
  },
);
---

<ul
  {...storyblokEditable(blok)}
  class="grid gap-[3em] md:grid-cols-2 xl:grid-cols-3"
>
  {
    posts.map((post) => (
      <li class="rounded-md border-2 border-zinc-300 bg-zinc-200 p-6 dark:border-zinc-700 dark:bg-zinc-800">
        <a
          href={post.slug}
          class="mb-[1em] block overflow-hidden border-0 opacity-100 hover:border-0"
        >
          <img
            class="rounded transition-transform duration-300 hover:scale-125"
            src={post.featuredImage.filename}
            alt={post.featuredImage.alt}
          />
        </a>
        <p class="text-sm opacity-50">{post.date}</p>
        <a
          href={post.slug}
          class="opacity-100 hover:text-emerald-600 hover:underline dark:hover:text-emerald-400"
        >
          <h3>{post.title}</h3>
        </a>
        <p class="font-normal opacity-75">{post.description}</p>
      </li>
    ))
  }
</ul>
