---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../components/Footer";
import "../styles/global.css";
const pageTitle = "404: Page Not Found";
const heroHeader = "Uh oh, a 404 Errors?!";
const heroDescription = "Shoot, you're not supposed to see this.";
const heroParagraph =
  "This is awkward...sorry about that! It seems the page you tried visiting does not exist, or you've found a broken link.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero
        heroHeader={heroHeader}
        heroDescription={heroDescription}
        heroParagraph={heroParagraph}
      />
    </header>
    <main>
      <Footer />
    </main>
  </body>
</html>
