---
import { SEO } from "astro-seo";
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import SocialLinks from "../layouts/SocialLinks.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
const pageTitle = "404: Page Not Found";
const heroHeader =
  "Uh oh, a 404 Error?! Shoot, you're not supposed to see this.";
const heroParagraph =
  "It seems the page you tried visiting does not exist, or you've found a broken link. But while you're here...";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title=`${pageTitle}`
      description=`${heroParagraph}`
      twitter={{
        creator: "@ryandotfurrer",
      }}
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} heroParagraph={heroParagraph} />
    </header>
    <main id="main-fade-in">
      <section class="grid place-items-center">
        <article class="space-y-[3em]">
          <div id="read-more-blogs">
            <p>Can I interest you in some of my blogs?</p>
            <p>
              <div
                id="link-container"
                class="flex flex-col md:flex-row md:gap-6"
              >
                <p>
                  <a href="/blog" class="text-emerald-600 dark:text-emerald-400"
                    >Yes I'd love to read some ✅</a
                  >
                </p>
                <p><a href="/">No, take me home ❌</a></p>
              </div>
            </p>
          </div>
          <div id="social-icons" class="grid grid-cols-1 gap-1">
            <p>Or maybe you'd like to follow me elsewhere?</p>
            <SocialLinks />
          </div>
        </article>
      </section>
    </main>
    <Footer />
  </body>
</html>
