---
import { SEO } from "astro-seo";
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
const pageTitle = "About Me";
const heroHeader =
  "My goal is to make the world a better place one website at a time";
const heroDescription = "Here is where you can learn a bit more about me.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title=`${pageTitle}`
      description=`${heroDescription}`
      twitter={{
        creator: "@ryandotfurrer",
      }}
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
</html>
<body>
  <header>
    <HeaderNavBar />
    <Hero heroHeader={heroHeader} heroDescription={heroDescription} />
  </header>
  <main id="main-fade-in">
    <article class="mx-auto space-y-[3em] border-0 2xl:w-4/5">
      <section
        class="mx-auto grid grid-cols-1 space-y-[1em] text-xl md:place-items-center md:text-2xl lg:grid-cols-2 lg:gap-8 lg:text-3xl lg:leading-relaxed"
      >
        <img
          src="/avatar-2x.webp"
          alt=`Memoji representing Ryan Furrer where his head is poking our from behind a laptop.`
        />

        <div
          id="greeting-container-verbiage-container"
          class="space-y-[1em] lg:leading-relaxed"
        >
          <p>
            My name is <span class="story-text">Ryan Furrer</span> and I am a
            highly enthusiastic
            <span class="story-text">Front-End Web Developer</span>, with a <span
              class="story-text">focus on Design and UI/UX</span
            >.
          </p>
          <p>
            At present, I am working with <span data-name="Astro">Astro</span>,

            <span data-name="React">React</span>, <span data-name="Tailwind CSS"
              >TailwindCSS</span
            >, and <span data-name="NextJS">NextJS</span>.
          </p>
        </div>
      </section>
      <section>
        <h2>Personal Background</h2>
        <p>
          First, thank you for visiting my site; I appreciate your interest in
          me and my work! <span class="text-zinc-900 dark:text-zinc-50"
            >I currently reside in Islip, NY, USA</span
          >, and was born and raised on Long Island, NY. Moving into the
          software engineering industry will be my third, and hopefully final,
          career transition. Previously, I was a musician and music educator,
          and <span class="text-zinc-900 dark:text-zinc-50"
            >I am currently a Buyer and Sub-Contracts Administrator in Supply
            Chain</span
          >.
        </p>
        <p>
          <span class="text-zinc-900 dark:text-zinc-50"
            >I attended three different schools for four and a half years,
            majoring in Music Education and Music Performance</span
          > before leaving without a degree. The last school I was at wanted
          another four years out of me, and I saw the pile of student loan debt
          continuing to grow, so I decided to drop out; more on that later.
        </p>
        <p>
          I have built websites and small projects mainly for myself; however, I
          have also built websites for a couple of clients. The only one still
          in business is <a
            href="https://gregorykwilliamsviolist.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Gregory K. Williams</a
          >, a violist and violinist whom I studied under in my former life as a
          musician.
        </p>
      </section>
      <section>
        <h2>My Journey</h2>
        <h3>Music</h3>
        <img src="/about-music.webp" alt="Row of string instruments." />
        <p>
          As previously mentioned, <span class="text-zinc-900 dark:text-zinc-50"
            >my first career, passion, and love was, and forever will be, music</span
          >. I started playing viola when I was eight years old and simply stuck
          with it as I had natural talent; what kid doesn't like doing something
          because they are good at it? However, it did not take more than two or
          three years to realize <span class="text-zinc-900 dark:text-zinc-50"
            >I wanted to do something with music for the rest of my life</span
          >.
        </p>
        <p>
          At age fifteen, I began performing professionally at local musical
          theatres and weddings around Long Island. I would continue to do so
          until around thirty years old when my scope increased from only Long
          Island to the tri-state area (New York, New Jersey, and Connecticut).
        </p>
        <p>
          When I dropped out of college in 2013, I went on to manage a couple of
          local music stores while continuing to perform professionally and
          teach private music lessons. However, there came a time when <span
            class="text-zinc-900 dark:text-zinc-50"
            >I realized that I was not making enough money and needed to change
            courses</span
          >. That is when I transitioned into Procurement.
        </p>
        <h3>Procurement</h3>
        <img
          src="/about-procurement.webp"
          alt="Rows of cubicles in a corporate office building."
        />
        <p>
          On March 16, 2020 - the same day most of the world shut down from
          COVID-19, I started my first job as a Buyer at a government
          contractor. This was a completely new industry for me; I never heard
          of people buying items for a company for a living before! Due to the
          pandemic, I had to learn this new job remotely, which was new for me
          and the company. I did well, and <span
            class="text-zinc-900 dark:text-zinc-50"
            >within 1.5 years, I got a small promotion</span
          >.
        </p>
        <p>
          <span class="text-zinc-900 dark:text-zinc-50"
            >While this felt great, this career was not for me for the long
            haul; I was not passionate about it and wanted change</span
          >. I was at “Company A” from March 2020 - March 2022, where I went to
          another government contractor as a Buyer. I was only there from March
          22 - January 2023 for various reasons, mainly due to an incredibly
          unrealistic and unmanageable workload that was wreaking havoc on my
          mental health.
        </p>
        <p>
          That leads us to where I am today: back at “Company A.” Returning to
          this company, I received another small promotion from Buyer to
          Sub-Contracts Administrator. <span
            class="text-zinc-900 dark:text-zinc-50"
            >I have had a lot of growth in this field since 2020. however, I
            still can't help but feel like it is not for me in the long run</span
          >.
        </p>
        <h3>Web Development</h3>
        <img src="/about-web-dev.webp" alt=`14" MacBook Pro in Space Black` />
        <p>
          <span class="text-zinc-900 dark:text-zinc-50">It was late 2019</span>
           when I decided to start studying programming for a career change;
          however, even that decision wasn't without its twists and turns. <span
            class="text-zinc-900 dark:text-zinc-50"
            >I started studying Front-End Web Development</span
          >, then learning to be an AWS Solutions Architect, and then studying
          to take the CompTIA A+ exam for a career in IT before circling back to


          <span class="text-zinc-900 dark:text-zinc-50"
            >Front-End Web Development</span
          >.
        </p>
        <p>
          Why did I choose Front-End Web Development? <span
            class="text-zinc-900 dark:text-zinc-50">I just love it!</span
          >
        </p>
        <p>
          <span class="text-zinc-900 dark:text-zinc-50"
            >It allows me to flex the creative muscles of my brain with design
            choices while letting me program - something I've always been
            interested in.</span
          >
        </p>
        <p>
          My learning path has been through its ups and downs as well. <span
            class="text-zinc-900 dark:text-zinc-50">Being self-taught</span
          >, I had only myself to depend on, and that lack of structure
          sometimes hindered me. <span class="text-zinc-900 dark:text-zinc-50"
            >Learning on my own was completely new to me</span
          >; whether it was a lack of discipline, running on motivation until it
          ran out, life getting in the way, or my indecisiveness on what to
          focus on and how to learn it, my progress learning has ebbed and
          flowed in the last few years. This was by no means a result of a lack
          of passion or interest, but <span
            class="text-zinc-900 dark:text-zinc-50"
            >just being overwhelmed at times</span
          >.
        </p>
      </section>
      <section>
        <h2>My Goals, Mission, and Values</h2>
        <h3>My Current Goal</h3>
        <p>
          <span class="text-zinc-900 dark:text-zinc-50"
            >Obtain a job as a Front-End Web Developer</span
          >. I want to be happy in my career again and stick with it for life.
        </p>
        <h3>My End Goal</h3>
        <p>
          <span class="text-zinc-900 dark:text-zinc-50"
            >Become a Full-Stack Engineer</span
          >. I look forward to learning back-end technologies to expand my
          projects, build at least one successful SaaS, and provide more value
          to clients and companies.
        </p>
        <h3>My Mission</h3>
        <p>
          <span class="text-zinc-900 dark:text-zinc-50"
            >To help people and companies</span
          > build the web presence they deserve through quality websites, apps,
          and services.
        </p>
        <h3>My Values</h3>
        <h4>Inclusivity</h4>
        <p>
          Everyone deserves the same treatment, circumstances, and allowances.
          Inclusivity in websites means ensuring <span
            class="text-zinc-900 dark:text-zinc-50"
            >accessibility is a primary focus rather than an afterthought</span
          >.
        </p>
        <h4>Educating Others</h4>
        <p>
          This harkens back to my days as a music teacher. However, to truly
          understand a concept and claim how to do something, you must be able
          to teach it. Not only that, <span
            class="text-zinc-900 dark:text-zinc-50"
            >I want to give back to the Web Development community</span
          > that has given so much to me; one way to do that is by sharing my
          knowledge
        </p>
        <h4>Collaboration</h4>
        <p>
          While I often like working on my own, there is no denying that you can
          achieve much more by working with others. Whether it's bouncing ideas
          off friends in a Discord server, reaching out to the X (formerly
          Twitter) world, or attending local Meetups, <span
            class="text-zinc-900 dark:text-zinc-50"
            >I believe we can all progress faster by working together</span
          >.
        </p>
        <h4>Kindness</h4>
        <p>
          I was raised by a few golden rules, and one of those was <span
            class="italic text-zinc-900 dark:text-zinc-50"
            >“Treat others how you want to be treated.”</span
          > I try to live by this every single day.
        </p>
        <h4>Bringing Others Up</h4>
        <p>
          <span class="text-zinc-900 dark:text-zinc-50"
            >I believe in bringing others up rather than putting them down</span
          >. That means being there for friends and family, helping people in
          need, encouraging them to continue their journey, and much more. There
          is so much negativity in this world, and if I can try to lessen that
          in any person's life, then I can rest easy.
        </p>
      </section>
      <section>
        <h2>Conclusion</h2>
        <div
          class="mx-auto grid grid-cols-1 text-2xl md:grid-cols-2 md:place-items-center md:gap-8 md:text-3xl"
        >
          <img
            class="mb-[1em] md:mb-0"
            src="/about-conclusion.webp"
            alt="Ryan Furrer"
          />
          <div>
            <p class="mb-[1em]" '>
              If you read all that, I appreciate you, and even if you didn't, I
              still appreciate you for stopping by!
            </p>
            <p>
              If you'd like to chat, I'd love to hear from you. You can <a
                href="mailto:ryandotfurrer@gmail.com">email me</a
              >, reach out to me on <a
                href="https://twitter.com/ryandotfurrer"
                target="_blank"
                rel="noopener noreferrer">X (formerly Twitter)</a
              >, or set up a time to chat via <a
                href="https://cal.com/ryanfurrer"
                target="_blank"
                rel="noopener noreferrer">Cal</a
              >.
            </p>
          </div>
        </div>
      </section>
    </article>
  </main>
  <Footer />
</body>
