---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/blog", {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content;
const pageTitle = "Blog";
const heroHeader = "Learn what I'm up to with articles.";
const heroDescription = "Sometimes I write things about things.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} heroDescription={heroDescription} />
    </header>
    <main id="main-fade-in">
      <section>
        <StoryblokComponent blok={content} />
      </section>
    </main>
    <Footer />
  </body>
</html>
