---
import { SEO } from "astro-seo";
import "../styles/global.css";
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import SocialLinks from "../layouts/SocialLinks.astro";
const pageTitle = "Contact Ryan";
const heroHeader = "Want to chat, email, or connect?";
const heroDescription = "I'd love to hear from you.";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title=`${pageTitle}`
      description=`${heroHeader + ' ' + heroDescription}`
      twitter={{
        creator: "@ryandotfurrer",
      }}
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero heroHeader={heroHeader} heroDescription={heroDescription} />
    </header>
    <main id="main-fade-in">
      <section>
        <h1>Contact Me</h1>
        <p>
          You can <a href="mailto:ryandotfurrer@gmail.com">email me directly</a>
           at ryandotfurrer@gmail.com, using the contact form below, or
          <a
            href="https://cal.com/ryandotfurrer"
            target="_blank"
            rel="noopener noreferrer">schedule a call</a
          > with me via Cal.
        </p>
        <div
          id="contact-button-container"
          class="flex flex-col justify-start gap-4 md:flex-row"
        >
          <a
            href="https://cal.com/ryandotfurrer"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-primary p-0 no-underline">Chat with Ryan</a
          >
          <a
            href="mailto:ryandotfurrer@gmail.com"
            class="btn-secondary p-0 no-underline hover:text-zinc-900 dark:hover:text-zinc-50"
            >Email Ryan</a
          >
        </div>
      </section>

      <section id="contact-form">
        <div
          id="contact-form-container"
          class="grid grid-cols-1 space-y-[1em] rounded-md bg-zinc-100 p-8 lg:grid-cols-2 lg:gap-12 lg:space-y-0 lg:p-16 dark:bg-zinc-900"
        >
          <div
            id="contact-text-container"
            class="grid grid-cols-1 space-y-[3em] lg:space-y-[1em]"
          >
            <aside class="grid grid-cols-1 space-y-[1em] lg:space-y-0">
              <h2 class="text-3xl">Connect with me</h2>
              <p>
                You can find me on <a
                  href="https://twitter.com/ryandotfurrer"
                  target="_blank"
                  rel="noopener noreferrer">X (formerly Twitter)</a
                >, <a
                  href="https://www.threads.net/@ryandotfurrer"
                  target="_blank"
                  rel="noopener noreferrer">Threads</a
                >, <a
                  href="https://github.com/ryanfurrer"
                  target="_blank"
                  rel="noopener noreferrer">GitHub</a
                >, and <a
                  href="https://www.linkedin.com/in/ryanfurrer/"
                  target="_blank"
                  rel="noopener noreferrer">Linkedin</a
                >.
              </p>
              <SocialLinks />
            </aside>
            <aside class="grid grid-cols-1 space-y-[1em] lg:space-y-0">
              <h2 class="text-3xl">Send me an email</h2>
              <p>
                Like I said, I'd love to hear from you no matter what. I am open
                to employment opportunities, mentorships (being both a mentor
                and mentee), collaborating projects, and more! I am just
                exicited to meet new people in the space and grow as a
                developer.
              </p>
            </aside>
          </div>
          <div id="contact-form-container">
            <form
              data-netlify="true"
              name="contact-form"
              class="grid grid-cols-1 space-y-[1em]"
            >
              <div id="name-input-container" class="input-container">
                <label for="name"
                  >Name<input
                    type="text"
                    name="name"
                    id="name"
                    required
                    autocomplete="name"
                  /></label
                >
              </div>
              <div id="email-input-container" class="input-container">
                <label for="email"
                  >Email<input
                    type="email"
                    id="email"
                    name="email"
                    required
                    autocomplete="email"
                  /></label
                >
              </div>
              <div id="message-input-container" class="input-container">
                <label for="message"
                  >Message<textarea
                    name="message"
                    id="message"
                    required
                    autocorrect="on"></textarea></label
                >
              </div>
              <button type="submit" class="btn-primary lg:w-max"
                >Send Email</button
              >
            </form>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
