---
import { Image } from "astro:assets";
import GridIronImage from "../assets/images/projects-gridiron.png";
import LayoutHome from "../layouts/LayoutHome.astro";
import memojiProfilePicture from "../assets/images/avatar-2x.webp";
import ZestImage from "../assets/images/projects-zest.svg";
import ZestVideo from "../assets/videos/projects-zest.mp4";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectTechTag from "../components/ProjectTechTag.astro";
import resume from "../assets/files/ryan-furrer_resume.pdf";
import Section2XL from "../layouts/Section2XL.astro";
import SectionXL from "../layouts/SectionXL.astro";
import SocialLinks from "../components/SocialLinks.astro";

const title = "Ryan Furrer | Software Engineer";
const description =
  "Building the web presence you deserve through quality code.";
---

<LayoutHome title={title} description={description}>
  <main
    class="flow animate-fade-down animate-delay-[400ms] animate-duration-700 animate-once animate-ease-in-out"
  >
    <SectionXL class="flow">
      <h2 class="text-center">Hello There</h2>
      <div
        class="flow lg:noflow mx-auto grid max-w-screen-lg grid-cols-1 pb-24 md:place-items-center lg:grid-cols-2 lg:gap-8 lg:pb-36 2xl:pb-48"
      >
        <Image
          src={memojiProfilePicture}
          alt=`Memoji representing Ryan Furrer where his head is poking our from behind a laptop.`
        />
        <div
          id="greeting-container-verbiage-container"
          class="space-y-4 lg:leading-relaxed"
        >
          <p>
            My name is Ryan Furrer, and I am a software engineer, <a
              href="https://www.twitch.tv/ryandotfurrer"
              target="_blank"
              rel="noopener noreferrer">streamer</a
            >, and <a href="/blog">blogger</a> with a focus on UX development.
          </p>
          <p>
            Proficient in <span data-name="React">React</span>, <span
              data-name="NextJS">NextJS</span
            >, <span data-name="Astro">Astro</span>, and <span
              data-name="Tailwind CSS">TailwindCSS</span
            >, I bring transferable skills in project management,
            problem-solving, and more.
          </p>
          <p>
            In addition, I also share my thoughts and learnings on web
            development, tech, and productivity through my <a
              href="https://ryanfurrer.beehiiv.com/subscribe"
              target="_blank"
              rel="noopener noreferrer"
              aria-label=`View my newsletter issues and subscribe if you'd like`
              >newsletter</a
            >.
          </p>
          <p class="text-lg font-semibold">
            <a
              class="flex flex-row place-items-center gap-4 text-amber-600 no-underline transition-[gap] duration-300 ease-in-out hover:gap-8 hover:text-amber-700 dark:text-amber-400 dark:hover:text-amber-300"
              href=`${resume}`
              >View my resume <i class="fa-solid fa-arrow-right"></i></a
            >
          </p>
          <p class="text-lg font-semibold">
            <a
              class="flex flex-row place-items-center gap-4 no-underline transition-[gap] duration-300 ease-in-out hover:gap-8"
              href="/now"
              >Learn what I'm doing now <i class="fa-solid fa-arrow-right"
              ></i></a
            >
          </p>
          <p class="text-lg font-semibold">
            <a
              class="flex flex-row place-items-center gap-4 no-underline transition-[gap] duration-300 ease-in-out hover:gap-8"
              href="/about"
              >Learn more about me <i class="fa-solid fa-arrow-right"></i></a
            >
          </p>
          <SocialLinks />
        </div>
      </div>
    </SectionXL>
    <Section2XL>
      <h2>Featured Projects</h2>
      <p>
        Looking for more? Check out my <a href="/projects">projects page</a>.
      </p>
      <div class="flow lg:noflow grid gap-4 lg:grid-cols-2 lg:gap-8">
        <ProjectCard
          imagePath={GridIronImage}
          imageAlt="Gridiron Survivor Badge Logo"
          projectName="Gridiron Survivor"
          projectDescription="Gridiron Survivor is an app that allows users to compete in an NFL Survivor pool by picking one winning team each week without repeating a team, with the last remaining participant declared the winner."
          labelPrimary="View Project"
          labelSecondary="View GitHub"
          projectGithubLink="https://github.com/LetsGetTechnical/gridiron-survivor"
          projectLiveLink="https://www.gridironsurvivor.com/"
        >
          <ProjectTechTag technologyName="NextJS" />
          <ProjectTechTag technologyName="Appwrite" />
          <ProjectTechTag technologyName="Tailwind" />
          <ProjectTechTag technologyName="shadcn/ui" />
          <ProjectTechTag technologyName="Storybook" />
          <ProjectTechTag technologyName="React Testing Library" />
          <ProjectTechTag technologyName="Jest" />
        </ProjectCard>
        <ProjectCard
          imagePath={ZestImage}
          imageAlt="Zest logo"
          projectName="Zest"
          projectDescription="Zest is an app that provides recipes and prioritizes meals you can cook with ingredients on hand, meals that are within your capacity and skill level to prepare, and gives you the macros for each of those meals."
          labelPrimary="View Video"
          labelSecondary="View GitHub"
          projectLiveLink={ZestVideo}
          projectGithubLink="https://github.com/CloudyBae/dsd-grocery"
        >
          <ProjectTechTag technologyName="React Native" />
          <ProjectTechTag technologyName="Expo" />
          <ProjectTechTag technologyName="Jest" />
          <ProjectTechTag technologyName="Django" />
          <ProjectTechTag technologyName="Python" />
          <ProjectTechTag technologyName="PostgreSQL" />
          <ProjectTechTag technologyName="APIs" />
          <ProjectTechTag technologyName="Design" />
        </ProjectCard>
      </div>
    </Section2XL>
  </main>
</LayoutHome>
