---
import HeaderNavBar from "../layouts/HeaderNavBar.astro";
import Hero from "../layouts/Hero.astro";
import Footer from "../layouts/Footer.astro";
import "../styles/global.css";
const pageTitle = "Projects";
const heroHeader = "Projects";
const heroDescription = "What I've created and worked on";
const heroImage = "/developer_code-thinking.svg";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <HeaderNavBar />
      <Hero
        heroHeader={heroHeader}
        heroDescription={heroDescription}
        heroImage={heroImage}
      />
    </header>
    <main>
      <section class="grid gap-[3em]">
        <h2>Personal Projects</h2>
        <div
          id="project-grid-container"
          class="grid gap-[2em] md:grid-cols-2 xl:grid-cols-3"
        >
          <article
            class="rounded-md border-2 border-zinc-300 bg-zinc-200 p-6 dark:border-zinc-700 dark:bg-zinc-800"
          >
            <h3>ryanfurrer.com</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              architecto a tempora? Iusto rem, a et dolorum nostrum alias
              tempore temporibus consequuntur, deleniti quia voluptas?
            </p>
            <div id="tech-container">
              <ul class="flex flex-wrap gap-2">
                <li>Astro</li>
                <li>React</li>
                <li>Tailwind CSS</li>
                <li>Storyblok CMS</li>
                <li>SEO</li>
              </ul>
            </div>
            <div id="link-container">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >Live Site</a
                  >
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >GitHub</a
                  >
                </li>
              </ul>
            </div>
          </article>
          <article
            class="rounded-md border-2 border-zinc-300 bg-zinc-200 p-6 dark:border-zinc-700 dark:bg-zinc-800"
          >
            <h3>Portfolio v4</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              architecto a tempora? Iusto rem, a et dolorum nostrum alias
              tempore temporibus consequuntur, deleniti quia voluptas?
            </p>
            <div id="tech-container">
              <ul class="flex flex-wrap gap-2">
                <li>HTML</li>
                <li>SCSS</li>
                <li>JavaScript</li>
                <li>SEO</li>
              </ul>
            </div>
            <div id="link-container">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >Live Site</a
                  >
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >GitHub</a
                  >
                </li>
              </ul>
            </div>
          </article>
          <article
            class="rounded-md border-2 border-zinc-300 bg-zinc-200 p-6 dark:border-zinc-700 dark:bg-zinc-800"
          >
            <h3>Personal Wedding Website</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              architecto a tempora? Iusto rem, a et dolorum nostrum alias
              tempore temporibus consequuntur, deleniti quia voluptas?
            </p>
            <div id="tech-container">
              <ul class="flex flex-wrap gap-2">
                <li>HTML</li>
                <li>SCSS</li>
                <li>JavaScript</li>
                <li>Cloudinary</li>
              </ul>
            </div>
            <div id="link-container">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >Live Site</a
                  >
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >GitHub</a
                  >
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
      <section class="grid gap-[3em]">
        <h2>Open-Source Contributions</h2>
        <div
          id="project-grid-container"
          class="grid gap-[2em] md:grid-cols-2 xl:grid-cols-3"
        >
          <article
            class="rounded-md border-2 border-zinc-300 bg-zinc-200 p-6 dark:border-zinc-700 dark:bg-zinc-800"
          >
            <h3>fullstack.chat</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              architecto a tempora? Iusto rem, a et dolorum nostrum alias
              tempore temporibus consequuntur, deleniti quia voluptas?
            </p>
            <div id="tech-container">
              <ul class="flex flex-wrap gap-2">
                <li>Gatsby</li>
                <li>TypeScript</li>
              </ul>
            </div>
            <div id="link-container">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >Live Site</a
                  >
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >GitHub</a
                  >
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
      <section class="grid gap-[3em]">
        <h2>Collaborative Projects</h2>
        <div
          id="project-grid-container"
          class="grid gap-[2em] md:grid-cols-2 xl:grid-cols-3"
        >
          <article
            class="rounded-md border-2 border-zinc-300 bg-zinc-200 p-6 dark:border-zinc-700 dark:bg-zinc-800"
          >
            <h3>AIMS</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              architecto a tempora? Iusto rem, a et dolorum nostrum alias
              tempore temporibus consequuntur, deleniti quia voluptas?
            </p>
            <div id="tech-container">
              <ul class="flex flex-wrap gap-2">
                <li>Astro</li>
                <li>React</li>
                <li>Tailwind CSS</li>
                <li>Storyblok CMS</li>
                <li>SEO</li>
              </ul>
            </div>
            <div id="link-container">
              <ul>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >Live Site</a
                  >
                </li>
                <li>
                  <a href="#" target="_blank" rel="noopener noreferrer"
                    >GitHub</a
                  >
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
