---
import Layout from "../layouts/Layout.astro";
import SectionXL from "../components/SectionXL.astro";
import Section2XL from "../components/Section2XL.astro";
import { Image } from "astro:assets";
// import { Icon } from "astro-icon/components";
import SoftwareCard from "../components/SoftwareCard.astro";
import onepassword from "../assets/logos/onepassword.svg";
import affinity from "../assets/logos/affinity.svg";
import arc from "../assets/logos/arc.svg";
import brainfm from "../assets/logos/brainfm.svg";
import cleanshotx from "../assets/logos/cleanshotx.svg";
import discord from "../assets/logos/discord.svg";
import iterm2 from "../assets/logos/iterm2.svg";
import notion from "../assets/logos/notion.svg";
import notionCalendar from "../assets/logos/notion-calendar.svg";
import raycast from "../assets/logos/Raycast.svg";
import simplenote from "../assets/logos/simplenote.svg";
import spark from "../assets/logos/spark.svg";
import spotify from "../assets/logos/spotify.svg";
import streamlabs from "../assets/logos/streamlabs.svg";
import todoist from "../assets/logos/todoist.svg";
import vscode from "../assets/logos/vscode.svg";

const title = "Uses";
const description =
  "An evolving curation of hardware and software I currently use.";
---

<Layout title={title} description={description}>
  <main class="flow container mx-auto">
    <Section2XL>
      <SectionXL>
        <h2>Hardware</h2>
        <h3>Development Computer</h3>
        <p>MacBook Pro 16"</p>
        <ul role="list">
          <li>M1 Pro</li>
          <li>16GB RAM</li>
          <li>512GB SSD</li>
          <li>Release Year: 2021</li>
        </ul>
        <h3>Gaming Computer</h3>
        <p>Custom-built PC</p>
        <ul role="list">
          <li>Ryzen 7 5800X</li>
          <li>16GB DDR4-3600 RAM</li>
          <li>MSI GTX 1080 GPU</li>
        </ul>
        <h3>Monitor</h3>
        <p>LG 27" 4K | 27UP850N-W</p>
        <h3>Peripherals</h3>
        <h4>Keyboards</h4>
        <p>I rotate between the following keyboards:</p>
        <ul role="list">
          <li>Apple Magic Keyboard with Touch ID</li>
          <li>Keychron x OnePlus Keyboard 81 Pro</li>
        </ul>
        <h4>Mice</h4>
        <p>
          Depending on whether or not I'm gaming I'll use the following mice:
        </p>
        <ul role="list">
          <li>Logitech MX Master 3S</li>
          <li>SteelSeries Aerox 9</li>
        </ul>
        <h4>Audio</h4>
        <h5>Headphones</h5>
        <ul role="list">
          <li>beyerdynamic DT 700 ProX</li>
          <li>Apple Airpod Pros, Gen 2 (USB-C)</li>
        </ul>
        <h5>Microphone</h5>
        <p>Rode PodMic</p>
        <h5>Audio Interface</h5>
        <p>Elgato Wave XLR</p>
      </SectionXL>
      <SectionXL>
        <h2>Software</h2>
        <p>
          Here is the software and tools I use most commonly both in Web
          Development and my day to day life.
        </p>
        <div
          class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
          <SoftwareCard name="1Password" href="https://1password.com/">
            <Image
              src={onepassword}
              alt=`1Password logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard
            name="Affinity"
            href="https://affinity.serif.com/en-us/"
          >
            <Image
              src={affinity}
              alt=`Affinity Suite logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Arc" href="https://arc.net/">
            <Image
              src={arc}
              alt=`Arc Browser logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard
            name="BrainFM"
            href="https://my.brain.fm/payment?extended_promo=30&utm_source=referafriend"
          >
            <Image
              src={brainfm}
              alt=`Brainfm logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="CleanshotX" href="https://cleanshot.com/">
            <Image
              src={cleanshotx}
              alt=`CleanshotX logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Discord" href="https://discord.com/">
            <Image
              src={discord}
              alt=`Discord logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="iTerm" href="https://iterm2.com/">
            <Image
              src={iterm2}
              alt=`iTerm2 logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Notion" href="https://notion.so/">
            <Image
              src={notion}
              alt=`Notion logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard
            name="Notion Calendar"
            href="https://www.notion.so/product/calendar"
          >
            <Image
              src={notionCalendar}
              alt=`Notion Calendar logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Raycast" href="https://raycast.com/">
            <Image
              src={raycast}
              alt=`Raycast logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Simplenote" href="https://simplenote.com/">
            <Image
              src={simplenote}
              alt=`Simplenote logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Spark" href="https://sparkmailapp.com/">
            <Image
              src={spark}
              alt=`Spark logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Spotify" href="https://spotify.com/">
            <Image
              src={spotify}
              alt=`Spotify logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Streamlabs" href="https://streamlabs.com/">
            <Image
              src={streamlabs}
              alt=`Streamlabs logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="Todoist" href="https://todoist.com/">
            <Image
              src={todoist}
              alt=`Todoist logo`
              class="mx-auto aspect-square h-auto w-2/3 transition-transform duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>

          <SoftwareCard name="VSCode" href="https://code.visualstudio.com/">
            <Image
              src={vscode}
              alt=`VSCode logo`
              class="mx-auto aspect-square h-auto w-2/3 duration-300 group-hover:-rotate-12"
            />
          </SoftwareCard>
        </div>
      </SectionXL>
    </Section2XL>
  </main>
</Layout>
