---
import Layout from "../layouts/Layout.astro";
import SectionXL from "../components/SectionXL.astro";
import Section2XL from "../components/Section2XL.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import cleanshotxLogo from "../assets/logos/cleanshotx.svg";
import raycastLogo from "../assets/logos/raycast.svg";
import simplenote from "../assets/logos/simplenote.png";
import SoftwareCard from "../components/SoftwareCard.astro";

const title = "Uses";
const description =
  "An evolving curation of hardware and software I currently use.";
---

<Layout title={title} description={description}>
  <main class="flow container mx-auto">
    <Section2XL>
      <SectionXL>
        <h2>Hardware</h2>
        <h3>Development Computer</h3>
        <p>MacBook Pro 16"</p>
        <ul role="list">
          <li>M1 Pro</li>
          <li>16GB RAM</li>
          <li>512GB SSD</li>
          <li>Release Year: 2021</li>
        </ul>
        <h3>Gaming Computer</h3>
        <p>Custom-built PC</p>
        <ul role="list">
          <li>Ryzen 7 5800X</li>
          <li>16GB DDR4-3600 RAM</li>
          <li>MSI GTX 1080 GPU</li>
        </ul>
        <h3>Monitor</h3>
        <p>LG 27" 4K | 27UP850N-W</p>
        <h3>Peripherals</h3>
        <h4>Keyboards</h4>
        <p>I rotate between the following keyboards:</p>
        <ul role="list">
          <li>Apple Magic Keyboard with Touch ID</li>
          <li>Keychron x OnePlus Keyboard 81 Pro</li>
        </ul>
        <h4>Mice</h4>
        <p>
          Depending on whether or not I'm gaming I'll use the following mice:
        </p>
        <ul role="list">
          <li>Logitech MX Master 3S</li>
          <li>SteelSeries Aerox 9</li>
        </ul>
        <h4>Audio</h4>
        <h5>Headphones</h5>
        <ul role="list">
          <li>beyerdynamic DT 700 ProX</li>
          <li>Apple Airpod Pros, Gen 2 (USB-C)</li>
        </ul>
        <h5>Microphone</h5>
        <p>Rode PodMic</p>
        <h5>Audio Interface</h5>
        <p>Elgato Wave XLR</p>
      </SectionXL>
      <SectionXL>
        <h2>Software</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
          ullam ab! Cum incidunt facilis et.
        </p>
        <div
          class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        >
          <SoftwareCard name="1Password" href="https://1password.com/">
            <Icon
              name="software/1password"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </SoftwareCard>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer"
                >Affinity Suite</a
              >
            </h3>
            <Icon
              name="software/affinity"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">Arc</a>
            </h3>
            <Icon
              name="software/arc"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">BrainFM</a>
            </h3>
            <Icon
              name="software/brainfm"
              class="mx-auto aspect-square h-auto w-1/2 text-indigo-600 dark:text-indigo-400"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer"
                >CleanshotX</a
              >
            </h3>
            <Image
              src={cleanshotxLogo}
              alt="cleanshotx logo"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">Discord</a>
            </h3>
            <Icon
              name="software/discord"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <!-- <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">iTerm</a>
            </h3>
            <Icon
              name="software/iterm"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div> -->

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">Notion</a>
            </h3>
            <Icon
              name="software/notion"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer"
                >Notion Calendar</a
              >
            </h3>
            <Icon
              name="software/notion-calendar"
              class="mx-auto aspect-square h-auto w-1/2 text-zinc-900 dark:text-zinc-50"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">Raycast</a>
            </h3>
            <Image
              src={raycastLogo}
              alt=`raycast logo`
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer"
                >Simplenote</a
              >
            </h3>
            <Image
              src={simplenote}
              alt="simplenote logo"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">Spark</a>
            </h3>
            <Icon
              name="software/spark"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">Spotify</a>
            </h3>
            <Icon
              name="software/spotify"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer"
                >Streamlabs</a
              >
            </h3>
            <Icon
              name="software/streamlabs"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">Todoist</a>
            </h3>
            <Icon
              name="software/todoist"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>

          <div
            class="flow grid aspect-square items-baseline rounded bg-zinc-200 p-6 dark:bg-zinc-800"
          >
            <h3 class="text-center text-xl">
              <a href="#" target="_blank" rel="noopener noreferrer">VSCode</a>
            </h3>
            <Icon
              name="software/vscode"
              class="mx-auto aspect-square h-auto w-1/2"
            />
          </div>
        </div>
      </SectionXL>
    </Section2XL>
  </main>
</Layout>
